body {
  background-color: #333;
  color: #DDD;
  font-family: 'Fanwood Text', serif;
}
a {
  color: #99F;
}
h1 {
  font-size: 20pt;
  font-weight: normal;
  margin-left: 20px;
}
h3 {
  font-weight: normal;
}
.footnote {
  font-size: smaller;
}
.column {
  float: left;
  margin-left: 20px;
  margin-bottom: 40px;
}
.column.right {
  width: 400px;
  margin-left: 40px;
}
.clear {
  clear: both;
}

#attrib {
  text-align: center;
  background-color: #444;
  padding: 3px;
}
#runState, #speedState {
  margin-bottom: 10px;
  margin-top: 10px;
}
#runControl {
  border: 1px solid #DDD;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 60px;
}

#percentageChart {
  background-color: #FF9;
  margin-left: 20px;
  margin-right: 20px;
}
.ui-progressbar-value {
  background-color: #99F;
  height: 2px;
  padding: 1px;
}

.player {
  margin-left: 20px;
  float: left;
  width: 200px;
}
.player .winning {
  color: #9F9;
}
.player .losing {
  color: #F99;
}
h3.stay {
  color: #99F;
}
h3.switch {
  color: #FF9;
}

.door {
  border: 2px solid #DDD;
  padding: 10px;
  width: 80px;
  height: 160px;
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
}
.door.winning {
  background-color: #9F9;
  color: black;
}
.door.losing {
  background-color: #F99;
  color: black;
}
.door.chosen {
  background-color: #666;
}
