body {
  background-color: #333;
  color: #DDD;
  font-family: 'Fanwood Text', serif;
}
a {
  color: #99F;
}
h1 {
  font-size: 20pt;
  font-weight: normal;
  margin-left: 20px;
}
h3 {
  font-weight: normal;
}
.footnote {
  font-size: smaller;
}
.column {
  float: left;
  margin-left: 20px;
  margin-bottom: 40px;
}
.column.right {
  width: 400px;
  margin-left: 40px;
}
.clear {
  clear: both;
}
#attrib {
  text-align: center;
  background-color: #444;
  padding: 3px;
}


.door {
  border: 2px solid #DDD;
  padding: 10px;
  width: 80px;
  height: 160px;
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
}
.door.winning {
  background-color: #9F9;
  color: black;
}
.door.losing {
  background-color: #F99;
  color: black;
}
.door.chosen {
  background-color: #666;
}


.player {
  margin-left: 20px;
  float: left;
  width: 200px;
}
.player .winning {
  color: #9F9;
}
.player .losing {
  color: #F99;
}
h3.stay {
  color: #99F;
}
h3.switch {
  color: #FF9;
}


#percentageChart {
  background: none;
  background-color: #FF9;
  margin-left: 20px;
  margin-right: 40px;
  height: 2px;
  padding: 1px;
}
.ui-progressbar .ui-progressbar-value {
  background: none;
  background-color: #99F;
  border: none;
  height: 5px;
  margin: -1px;
  padding-right: 2px;
}


#runControl {
  margin-top: 30px;
  margin-left: 50px;
}
#runControl a#pauseButton, #runControl a#playButton, #runControl div {
  float: left;
  margin-left: 10px;
}
#runControl div.label {
  margin-left: 30px;
}
#pauseButton img, #playButton img {
  width: 24px;
  height: 24px;
}
#speedSlider {
  margin-top: 8px;
  width: 200px;
  height: 5px;
}
#speedSlider .ui-slider-handle {
  width: 6px;
  height: 16px;
  margin-left: -4px;
}